/* Legacy browser support */
header, nav, main, footer { display: block; }
/* Body style */
body { background-color: #0066CC;
	   background-image: url(../images/bg.jpg);
	   background-repeat: no-repeat;
	   background-position: center;
	   background-size: cover;
	   background-attachment: fixed;
	   font-family: Verdana, Arial, sans-serif;
	   
}
/* Main wrapper container */
#wrapper { width: 960px;
           margin: auto;
		   background-color: #0066CC;
		   color: #FFFFFF;
		   box-shadow: 5px 5px 5px #000000;
}
/* Header w/ logo */
h1 {
	  background-image: url(../images/logo.png);
	  background-repeat: no-repeat;
	  background-color: #0066CC;
	  background-size: 200px 170px;
	  background-position: left center; 
	  font-family: Georgia, "Times New Roman", serif;
	  font-size: 4.5em;
	  padding-left: 220px;
	  padding-top: 20px;
	  text-shadow: 3px 3px 3px #90745D;
	  margin-bottom: 0;
	  height: 110px;
}
/* Header for under images */
h4 {
	font-weight: bold;
	font-style: italic;
	font-size: 1em;
	text-align: center;
	margin-top: 0;
}
/* Navigation style */
nav { padding-top: 10px;
      float: left;
      width: 200px; 
}
nav ul { list-style-type: none; 
       padding-left: 20px;
	 }
nav li { padding-bottom: 5px;
       font-weight: bold;
}
nav a { text-decoration: none; }
nav a:link { color: #FFFFFF; }
nav a:visited{ color: #999999; }
nav a:hover { color: #3F4632; }
/* Centers unordered lists */
div.container {
	text-align: center;
}
ul.priceUL {
	display: inline-block;
	text-align: left;
}
/* Classes for color in table area */
.tc {
	background-color: #0099FF;
}
.tbc {
	background-color: #0066CC;
}
/* Main content area */
main { background-color: #00CCFF;
		  margin-left: 200px;
          padding: 1px 20px 20px 20px;   
		  min-height: 300px;
}
main img { float: right;
              padding: 20px;
}
/* Mobile Browser view port */
@media (max-width: 600px) {
	#wrapper {
        width: 100%;
        margin: 0;
    }
    nav {
        float: none;
        width: 100%;
        padding-top: 0;
		margin-bottom: 0;
    }
    nav li {
		border: 2px solid #000000;
		border-bottom: none;
		margin: 0;
		margin-top: 10px;
		padding: 5px;
		padding-bottom: 0px;
	}
	nav ul {
        padding-left: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
		margin: 0;
	}
    main {
        margin-left: 0;
        padding: 10px;
    }
    main img {
		float: none;
		width: 100%;
		max-width: 100%;
		height: auto;
		padding: 10px 0;
		display: block;
		margin: 0 auto;
	}
	body {
		background-image: none;
	}
    h1 {
        font-size: 2em;
        padding-left: 10px;
        background-size: 80px 68px;
        height: auto;
        padding-top: 10px;
		background-image: none;
    }
	h2 {
		text-align: center;
	}
	header {
		text-align: center;
	}
	div.gallery-item {
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
  div.gallery-item img {
    height: 120px; /* Shorter on mobile */
  }
}
/* Footer styling */
footer { background-color: #0099FF;
       margin-left: 200px;
       padding: 20px;
       text-align: center;
	   font-size: small;
	   font-style: italic;
}
/* Formatting for photo gallery */
div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers the gallery items */
  gap: 10px;
}
div.gallery-item {
  border: 1px solid #ccc;
  flex: 1 1 calc(25% - 10px);
  max-width: calc(25% - 10px); /* Prevents stretching */
  min-width: 150px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Stacks image and description vertically */
}
div.gallery-item a {
  display: block;
  flex-shrink: 0; /* Prevents the link from shrinking */
}
div.gallery-item img {
  padding: 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}
div.gallery-item div.desc {
  padding: 10px; /* Reduced padding for shorter block */
  text-align: center;
  font-size: 14px; /* Slightly smaller text */
}